@charset "utf-8";
/* CSS Document */

.box {
	width: 200px;
	height: 200px;
	background-color: #f00;
	position: absolute;
	left: 200px;
	right: 200px;
	
}

button {
	position: relative;
	z-index: 5000;
}
